.gitignore Java
 ../../../../../.CFUserTextEncoding
        ../../../../../.DS_Store
        ../../../../../.cache/
        ../../../../../.cups/
        ../../../../../.eclipse/
        ../../../../../.gitconfig
        ../../../../../.lesshst
        ../../../../../.oh-my-zsh/
        ../../../../../.p2/
        ../../../../../.redhat/
        ../../../../../.viminfo
        ../../../../../.vscode/
        ../../../../../.wsalock
        "../../../../../.zcompdump-Ryan\342\200\231s MacBook Pro-5.9"
        ../../../../../.zprofile
        ../../../../../.zsh_history
        ../../../../../.zsh_sessions/
        ../../../../../.zshrc
        ../../../../../Applications/
        ../../../../../Creative Cloud Files rseely@panthers.pequannock.org 20198881c0b3720ec3de4d75d82631c7527ea2af933ea5e4dbee9302042f8e18/
        ../../../../../Creative Cloud Files/
        ../../../../.DS_Store
        ../../../../.localized
        ../../../../Commentanalyis.png
        ../../../../DS SD dump/
        ../../../../Lil Uzi Vert - Let You Know.mp3
        ../../../../Queens.java
        ../../../.DS_Store
        ../../../05e6911751fb7ca931d76aab58a69054-21520c65f52af8f9dbd6449d7b1de7d6882df61a/
        ../../../Content.html
        ../../.DS_Store
        ../.DS_Store
        ../AnimalPickerCSC109/
        ../AnimalPickerP.java
        ../Asignment 2-Seely.docx
        ../Calculator/
        README.md
        ../Gitgroup2/
        ../HelloRyan/
        ../HelloWorld/
        ../Module 4 Working Together/
        ../Module 5/
        ../Module 6/
        ../Module 6fr/
        ../Module 7/
        ../Zach clone mod 6/
        ../text-based-adventure/
        ../../CSC L/
        ../../CSC/
        ../../CSC111/
        ../../CSC111L/
        ../../ENG 101/
        ../../ENG 102/
        ../../FYS 101/
        ../../Foundations/
        ../../MA 140/
        ../../MA 141/
        ../../POP 266/
        "../../../../Screenshot 2024-02-29 at 8.34.11\342\200\257PM (2).png"
        "../../../../Screenshot 2024-02-29 at 8.34.11\342\200\257PM.png"
        ../../../../Seely-Lab3.html
        ../../../../../Documents/
        ../../../../../Downloads/
        ../../../../../Library/
        ../../../../../Movies/
        ../../../../../Music/
        ../../../../../OneDrive
        ../../../../../Pictures/
        ../../../../../Public/
        ../../../../../PycharmProjects/
        ../../../../../eclipse-workspace/
        ../../../../../eclipse/
        ../../../../../public class FizzBuzz {.java